#WIX_ADSdesktopWADTop{
visibility:hidden !important;
}
.wixAdsdesktopWADTop{
visibility:hidden !important;
}
#WIX_ADSdesktopWADBottom{
visibility:hidden !important;
}
.wixAdsdesktopWADBottom{
visibility:hidden !important;
}